<?xml version='1.0' encoding='UTF-8'?>
<Settings><Attributes version="1"><LastCSV>C:\Users\Rutgers\Documents\csvNotInProj\GDBB_Model Reconstruction_rxn_140104_144911_[1].csv</LastCSV><LastSBML>C:\Users\Rutgers\Documents\sbml\GDBB_Ec_core_flux1_140104_154037_[3].xml</LastSBML><LastCSVReactions>C:\Users\Rutgers\Documents\csvNotInProj\GDBB_Model Reconstruction_rxn_140104_144911_[1].csv</LastCSVReactions><LastGurobi>C:\gurobi402\win32\lib\gurobi.jar</LastGurobi></Attributes></Settings>