<?xml version='1.0' encoding='UTF-8'?>
<Settings><Attributes version="1"><LastCSV>C:\Users\Rutgers\Documents\csvNotInProj\t.csv</LastCSV><LastSBML>C:\Users\Rutgers\Documents\sbml\Ec_core_flux1.xml</LastSBML><LastGurobi>C:\gurobi500\win64\lib\gurobi.jar</LastGurobi><LastSaveSBML>C:\Users\Rutgers\Documents\sbml\u.xml</LastSaveSBML></Attributes></Settings>