<?xml version='1.0' encoding='UTF-8'?>
<Settings><Attributes version="1"><LastCSV>C:\Users\Rutgers\Documents\S7002 model Qian\syn7002-2_reactions.csv</LastCSV><LastSBML>C:\Users\Rutgers\Documents\GitHub\MOST_ND\etc\sbml\Ec_core_flux1.xml</LastSBML><LastSaveSBML>C:\Users\Rutgers\Documents\GitHub\MOST_ND\r</LastSaveSBML><LastGurobi>C:\gurobi500\win64\lib\gurobi.jar</LastGurobi></Attributes></Settings>